<plugin name='secureapi' version='1.2' grailsVersion='2.0 &gt; *'>
  <author>Eduard Martini</author>
  <authorEmail>eduard.martini@gmail.com</authorEmail>
  <title>Secureapi Plugin</title>
  <description>
SecureApi is a Grails plugin that provides authentication to your app API. It implements same security model as Amazon is using for the AWS API, based on OAuth 1.1 specs,
but with reduced compelxity.
</description>
  <documentation>http://grails.org/plugin/secureapi</documentation>
  <type>SecureapiGrailsPlugin</type>
  <resources>
    <resource>spring.resources</resource>
    <resource>SecureApiService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>